{
  "presets": [
    [
      "env", {
        "targets": {
          "node": "7",
          "browsers": ["last 2 versions"]
        }
      }
    ],
    "es2017", "react"],
   "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    "transform-object-rest-spread",
    ["transform-runtime", {
      "polyfill": false,
      "regenerator": true
    }],
    ["module-resolver", {
      "root": ["/"],
      "alias": {
        "main": "./src/features/main",
        "campaigns": "./src/features/campaigns",
        "config": "./src/config",
        "services": "./src/services",
        "raft": "./src/redux"
      }
    }]
  ]
}