{
  "presets": [
    [
    "env", {
      "targets": { "node": "7" }
      }
    ],
    "es2017", "react"],
   "plugins": [
    "transform-decorators-legacy",
    "transform-class-properties",
    ["module-resolver", {
      "root": ["/"],
      "alias": {
        "main": "./src/features/main",
        "campaigns": "./src/features/campaigns",
        "config": "./src/config",
        "services": "./src/services",
        "raft": "./src/redux"
      }
    }]
  ]
}